body {
  background: url('https://www.dropbox.com/s/i05onm977cpb5g1/sean-o-KMn4VEeEPR8-unsplash.jpg?raw=1');
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
}


#pictures-container {
    display: grid;
    grid-template-columns: minmax(300px, 3fr) minmax(300px, 2fr);
    grid-template-rows: minmax(800px, auto);
    grid-gap: 20px;
}

#show-img {
    height: 300px;
}

#show-picture {
    position: relative;
}

#show-picture-card {
    position: fixed;
}

#thumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.picture-card {

}

.category-picture {
    object-fit: contain;
    width: 200px;
    height: 200px;
}

#show-info {
    display: grid;
    grid-template-columns: 150px auto;
}
